<div class="container">
  <h3>Payment Form</h3>
  <!-- Name -->
  <div class="row">
    <div class="form-group col">

      <label for="name">
        Layee Name
      </label>
      <input id="name" class="form-control" type="text" (input)="onNameChange($event.target.value)">
    </div>
    <div class="col">
      <label for=""><b>Name:</b></label>
      <div>
        {{ name | titlecase }}
      </div>
    </div>
  </div>
  <!-- Date -->
  <div class="row">
    <div class="form-group col">

      <label for="name">
        Payment date
      </label>
      <input id="name" class="form-control" type="date" (input)="onDateChange($event.target.value)">
    </div>
    <div class="col">
      <label for=""><b>Payment date:</b></label>
      <div>
        {{date | date:"MMMM d, YYYY" }}
      </div>
    </div>
  </div>
  <!-- Currency -->
  <div class="row">
    <div class="form-group col">

      <label for="name">
        Amount
      </label>
      <input id="name" class="form-control" type="number" (input)="onAmountChange($event.target.value)">
    </div>
    <div class="col">
      <label for=""><b>Amount:</b></label>
      <div>
        {{amount | currency:"UYU" }}
      </div>
    </div>
  </div>
  <!-- Height -->
  <div class="row">
    <div class="form-group col">

      <label for="name">
        Height
      </label>
      <input id="name" class="form-control" type="number" (input)="onHeightChange($event.target.value)">
    </div>
    <div class="col">
      <label for=""><b>Height:</b></label>
      <div>
        {{height | number:"1.1-2"}}
      </div>
    </div>
  </div>
  <!-- Convertor miles to km -->
  <div class="row">
    <div class="form-group col">

      <label for="name">
        Miles
      </label>
      <input id="name" class="form-control" type="text" (input)="onMilesChange($event.target.value)">
    </div>
    <div class="col">
      <label for=""><b>Kilometers:</b></label>
      <div *ngIf="(miles | convert:'km') > 10">
        {{miles | convert : "km" | number : "1.1-2"}}
      </div>
    </div>
  </div>
</div>